{% extends "../layout.html" %} {% block content %}
<link href="{{getVersionedPath('/assets/layout/stylesheet/datepicker3.css')}}" id="style_components" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="{{getVersionedPath('/assets/select2/select2.css')}}" />

<!-- BEGIN THEME STYLES -->
{% block css %}
<style>
    #batch {
        background-color: #fff;
        cursor: default;
    }

    label.error {
        color: red;
    }

    .form-actions {
        padding-top: 20px;
        text-align: center;
    }
</style>
{% endblock %}
<div class="page-content">
    <div class="row margin-top-12">
        <div class="col-md-12">
            {% include "../flashMessage_Success.html" %}
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="glyphicon glyphicon-edit"></i>{{title}}
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- Begin Form -->
                    <form action="/institutes/post-edit-walkings/{{institute._id | safe}}" method="post">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label"><b>Walkings Id</b></label>
                                    <span class="star">*</span>
                                    <input type="text" name="name" class="form-control" placeholder="Institute Name" value="{{institute.name}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label"><b>Resume</b></label>
                                    <span class="star">*</span>
                                    <div class="input-group">
                                        <label class="radio-inline">
                                            <div class="radio" id="uniform-optionsRadios25"><span {% if institute.resume == 0 %} class="checked" {% endif %}><input
                                                        type="radio" name="resume" id="optionsRadios25" value="0" 
                                                        {% if institute.resume == 0 %} checked ="" {% endif %}></span></div> Optional
                                        </label>
                                        <label class="radio-inline">
                                            <div class="radio" id="uniform-optionsRadios26"><span {% if institute.resume == 1 %} class="checked" {% endif %} ><input type="radio" name="resume" id="optionsRadios26" value="1" {% if institute.resume == 1 %} checked ="" {% endif %}></span></div>
                                            Required
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label"><b>Qualification</b></label>
                                    <select id="qualification" name="qualification" class="form-control select2 select2-offscreen" multiple="" tabindex="-1">
                                        {% for data in qualification %}
                                        {% if data.match == 1 %}
                                        <option selected="">{{data.text}}</option>
                                        {% else %}
                                        <option>{{data.text}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-actions">
                                    <input type="submit" class="btn btn-success" value="Edit Walkings">
                                    <a href="/institutes/get-walkins"> <button type="button" data-dismiss="modal" class="btn default ">Cancel</button></a>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script src="{{getVersionedPath('/javascripts/bootstrap-datepicker.js')}}" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="{{getVersionedPath('/assets/select2/select2.min.js')}}"></script>

<!-- END PAGE LEVEL PLUGINS -->
<script type="text/javascript">
let date = new Date();
let year = parseInt(date.getFullYear() + 5);

jQuery(document).ready(function () {
    $('#qualification').select2({
        placeholder: "Select Qualification",
        allowClear: true
    });
    $('#batch').datepicker({
        autoclose: true,
        format: "yyyy",
        viewMode: "years",
        minViewMode: "years",
        startDate: new Date(),
        endDate: year.toString()
    }).on("changeDate", function (e) {
        $(this).next("label").remove();
    });
    ;
});
</script>
<script src="{{getVersionedPath('/javascripts/institutes.js')}}" type="text/javascript"></script>
{% endblock %}