{% extends "./layout.html" %} 
{% block content %}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        DashBoard
    </h3>
    <!--    <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>-->
    <div class="row">
        <br/>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN DASHBOARD STATS -->

    <!--
        <div class="row">
            <div class="col-md-3">
                <a class="more" href="/users">
                    <div class="col-md-12 dashboard-stat blue-madison">
                        <div class="visual">
                            <i class="fa fa-question"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <b> {{users}} </b>
                            </div>
                            <div class="desc">
                                Total Users
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-md-3">
                <a class="more" href="/contact_us">
                    <div class="col-md-12 dashboard-stat yellow">
                        <div class="visual">
                            <i class="fa fa-question"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <b>{{contact_us}} </b>
                            </div>
                            <div class="desc">
                                Total Queries
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->

    <!--</div>-->
    <div class="clearfix">
    </div>
</div>

<!-- END DASHBOARD STATS -->
{% endblock %}


<!--
Javascript Block Begins
-->
{% block js %}

<script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>

{% endblock %}

