<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="/dashboard">
                <img src="{{logo_path_side}}" height="65px", width="250px" alt="logo" class="logo-default" />
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN PAGE TOP -->
        <div class="page-top">

            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="separator hide">
                    </li>
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-notification dropdown" id="header_notification_bar">
                        <a class="dropdown-toggle" id="notifications" data-close-others="true" data-toggle="dropdown" href="javascript;">
                            <i class="icon-bell"></i>
                            <span class="badge badge-default" id="notification_count">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3><span class="bold" id="notification_pending_count">0 </span> pending notifications</h3>
                                <a class="bold pull-right" id="mark_all_as_read" style="color:rgb(38,166,154)">Mark all as read</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller drowndropnotfication drowndropnotficationMa bold" style="height: 250px;" data-handle-color="#637283" id="notification_content">
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <li class="separator hide">
                    </li>
                    <!-- BEGIN INBOX DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-tasks dropdown" id="header_task_bar">
                        <a id="contact_notifications"  class="dropdown-toggle" data-toggle="dropdown" data-close-others="true" href="javascript;">
                            <i class="icon-users"></i>
                            <span class="badge badge-default" id="contact_request_count">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3><span class="bold" id="contact_request_pending_count"> 0 </span> pending contact requests</h3>
                                <br>
                                <h6><a class="bold pull-right" id="contact_mark_all_as_read" style="color:rgb(38,166,154)">Mark all as read</a></h6>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller drowndropnotfication drowndropnotficationMa bold" style="height: 250px;" data-handle-color="#637283"  id="contact_request_content">
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOtification DROPDOWN -->
                    <li class="separator hide">
                    </li>

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile">
                                {{user.name}} </span>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                            <img alt="no-image" class="img-circle" src="{{user.profile_pic}}" onerror="this.src = '{{image}}'" height="30px" width="35px" id="admin_image" />
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/dashboard/profile">
                                    <i class="icon-user"></i> My Profile </a>
                            </li>
                            <li>
                                <a href="/dashboard/changePassword">
                                    <i class="icon-settings"></i>Change Password</a>
                            </li>
                            <li>
                                <a href="" class="change_theme">
                                    <i class="glyphicon glyphicon-eye-open"></i>Change Theme</a>
                            </li>

                            <!--                        <li>
                                                        <a href="/dashboard/settings">
                                                            <i class="glyphicon glyphicon-cog"></i>Settings</a>
                                                    </li>-->
                            <li>
                                <a href="/logout">
                                    <i class="icon-key"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
