<div class="table-responsive">
    <table class="table table-bordered table-hover" role="grid">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>P.O Name</th>
                <th>Number of students</th>
                <th>Candidate selected</th>
                <th>Qualification</th>
                <th>Test status</th>
                <th width="5%">Action</th>
            </tr>
        </thead>
        <tbody>
            {% set curr = response.current-1  %}
            {% set index = curr*response.options.perPage+1  %}
            {% if response.results != "" %}
            {% for institute in response.results %}	 
            <tr>
                <td>{{index}}</td>

                {% if !institute.name  %}
                <td>--</td>
                {% else %} 
                <td>{{institute.name}} </td>
                {% endif %}

                {% if !institute.po_name %}
                <td>--</td>
                {% else %}
                <td>{{institute.po_name}}</td>
                {% endif %}

                {% if !institute.no_of_students %}
                <td>--</td>  
                {% else %}                                   
                <td>{{institute.no_of_students}}</td> 
                {% endif %}

                {% if !institute.candidate_selected %}
                <td>--</td>  
                {% else %}                                   
                <td>{{institute.candidate_selected}}</td> 
                {% endif %}

                {% if institute.qualification|length > 0 %}
                <td>--</td>  
                {% else %}                                   
                <td>{{institute.qualification|join(', ')}}</td> 
                {% endif %}

                <td>
                    {% if institute.test_status == 1  %}
                    <a class="disable_user btn btn-circle btn-icon-only btn-default" title="Click to Cancel" userid="{{institute._id}}" status="0" data-toggle="modal" data-target="#disableUserModal" val="{{institute._id}}"><i class="fa fa-circle" style="color:green"></i></a>
                    {% elseif institute.test_status == 2 %}
                    <a class="disable_user btn btn-circle btn-icon-only btn-default" title="Test Already Started" userid="{{institute._id}}" status="1" data-toggle="modal" data-target="#disableUserModal"  val="{{intitute._id}}"><i class="fa fa-circle" style="color:#dfba49"></i></a>
                    {% else %}
                    <a class="disable_user btn btn-circle btn-icon-only btn-default" title="Click to Start" userid="{{institute._id}}" status="1" data-toggle="modal" data-target="#disableUserModal"  val="{{intitute._id}}"><i class="fa fa-circle" style="color:red"></i></a>
                    {% endif %}
                </td>
                <td>
                    <!--                    <a link = "/users/user_detail/{{user._id}}?refer=/users"  class="anchor_username view-user btn btn-circle btn-icon-only btn-default" title="View detail" ><i style="color:green" class="fa fa-eye"></i></a>
                                        <a class="delete btn btn-circle btn-icon-only btn-default" title="Delete" deletelink="/users/delete/{{user._id}}" ><i class="fa fa-times" style="color:red"></i></a> -->
                    <button type="button" class="btn btn-default btn-circle btn-icon-only dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-angle-down"></i></button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <i class="fa fa-home"></i>
                            <span class="title">Edit Details</span>
                        </li>
                    </ul>
                    </div>              
                </td>
            </tr>
            {% set index=index+1 %}
            {% endfor %}					
            {% else %}
            <tr><td colspan="12"><p class="text-center">No records to display</p></td></tr>
            {% endif %}				
        </tbody>
    </table>
</div>
<div class="text-center">{% include "../paginate.html" %}</div><br><br>