<!--admin userList.html-->

{% block css %}
<link href="{{getVersionedPath('/assets/layout/stylesheet/datepicker3.css')}}" id="style_components" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{getVersionedPath('/assets/layout/stylesheet/bootstrap-timepicker.min.css')}}"/>

<!-- BEGIN PAGE LEVEL STYLES -->
<style>
    th,
    td {
        text-align: left !important;
        padding: 15px
    }

    .action_dropdown {
        height: 30px;
        width: 30px;
        background-color: white;
    }

    .action_dropdown>i {
        color: black;
    }

    .dropdown-left-manual {
        right: 0;
        left: auto;
        padding-left: 1px;
        padding-right: 1px;
    }

    .dropdown>.dropdown-menu:after,
    .dropdown-toggle>.dropdown-menu:after,
    .btn-group>.dropdown-menu:after {
        position: absolute;
        top: -7px;
        left: auto;
        right: 20px;
        display: inline-block !important;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        border-left: 7px solid transparent;
        content: '';
    }

    .dropdown>.dropdown-menu:before,
    .dropdown-toggle>.dropdown-menu:before,
    .btn-group>.dropdown-menu:before {
        position: absolute;
        top: -7px;
        left: auto;
        right: 20px;
        display: inline-block !important;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        border-left: 7px solid transparent;
        content: '';
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: initial;
    }

    #add_new_institute {
        margin-left: 2%;
    }

    h1 {
        font-size: 15px
    }
    .collegeContainer{
        text-align: center; 
        min-height: 85px;
    }
    .chip {
        display: inline-block;
        height: 32px;
        font-size: 13px;
        font-weight: 500;
        color: black;
        line-height: 25px;
        padding: 0 12px;
        border-radius: 16px;
        background-color: white;
        margin-bottom: 5px;
        margin-right: 5px;
        border: 2px solid black;
    }
    .custom_close{
        line-height: 25px;
        padding-left: 10px;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
    }
    .form-control[disabled], .form-control[readonly]{
        background-color: #fff;
        cursor: default;
    }
    label.error{
        color:red;
    }
    .width-45 {
        width:45%;
    }
    .sampleCsv {
        padding-left: 80px;
        font-size: 15px;
        line-height: 0px;
    }
    .form-actions {
        padding-top: 20px;
        text-align: center;
    }
</style>

{% endblock %} {% extends "../layout.html" %} {% block content %}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            {% include "../flashMessage_Success.html" %}
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-university"></i>{{title}}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="">
                        <input type="hidden" id="url" name="url" value="/quiz/">
                        <!--<input type="hidden" id="filterUrl" name="filterUrl" value="/users/">-->
                        <!-- <input type="text" id="export_csv_url" name="export_csv_url" value="/users/getcsv" hidden> -->
                        <form name="add_batch_form" class="add_batch_form" method="POST" action="/quiz/importCsv" enctype="multipart/form-data">
                            <div class="form-group width-45">
                                <label class="control-label"><b>Category</b></label>
                                <input type="text" class="form-control col-md-5" value="{{category.name}}" readonly>
                                <input type="hidden" value="{{category._id | safe}}" name="category_id">
                            </div>
                            {% if sub_cat_data != null %}
                            <div class="form-group width-45">
                                <label class="control-label"><b>Sub Category</b></label>
                                <input type="text" class="form-control col-md-5" value="{{sub_cat_data.name}}" readonly>
                                <input type="hidden" value="{{sub_cat_data._id | safe}}" name="sub_category_id">
                            </div>
                            {% endif %}
                            <div class="form-group width-45">
                                <label class="control-label"><b>Questions CSV</b></label>
                                <div class="" input-group>
                                    <input type="file" class="form-control col-md-5" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                </div>
                            </div>
                            <span class="sampleCsv">(<a id="download_sample" href="/quiz/sampeCSV">Download
                                    Sample CSV</a>)
                            </span>

                            <div style="text-align: center">
                                <button type="submit" class="btn btn-success add_batch_btn" >Submit</button>
                                <button type="button" data-dismiss="modal" class="btn default ">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
        </div>
    </div>
</div>
{% endblock %} {% block js %}

<script src="{{getVersionedPath('/javascripts/bootstrap-datepicker.js')}}" type="text/javascript"></script>
<script type="text/javascript" src="{{getVersionedPath('/assets/layout/javascript/bootstrap-timepicker.min.js')}}"></script>
<script src="{{getVersionedPath('/javascripts/bootstrap-datepicker.js')}}" type="text/javascript"></script>
<script src="{{getVersionedPath('/assets/layout/javascript/components-pickers.js')}}"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- include developer js file -->
<script src="{{getVersionedPath('/javascripts/developer.js')}}" type="text/javascript"></script>
<script src="{{getVersionedPath('/javascripts/bootbox.min.js')}}" type="text/javascript"></script>
<script src="{{getVersionedPath('/javascripts/pagination.js')}}"></script>
{% endblock %}