            {% set curr = current-1  %}
            {% set index = curr* options.perPage +1  %}
            {% for category in response %}	 
            <tr>
                <!--<td width="2%"><span class="checked"><input type="checkbox" class="check" name="{{institute.name}}" value="{{institute._id | safe}}"></span></td>-->
                <td>{{index}}</td>

                {% if !category.sub_category  %}
                <td>--</td>
                {% else %} 
                <td>{{category.sub_category.name}} </td>
                {% endif %}

                {% if !category.name %}
                <td>--</td>
                {% else %}
                <td>{{category.name}}</td>
                {% endif %}
                <td>

                    {% if !category.sub_category  %}
                    <a class="btn btn-circle btn-icon-only btn-default" href="/quiz/edit/{{category._id | safe}}">
                        <i class="icon-eye" style="color:blue"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="/quiz/importCsv/{{category._id | safe}}" title="Import Question Csv">
                        <i class="glyphicon glyphicon-upload" style="color:green"></i>
                    </a>
                    {% else %} 
                    <a class="btn btn-circle btn-icon-only btn-default" href="/quiz/edit/{{category._id | safe}}/{{category.sub_category._id | safe }}">
                        <i class="icon-eye" style="color:blue"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="/quiz/importCsv/{{category._id |safe}}" title="Import Question Csv">
                        <i class="glyphicon glyphicon-upload" style="color:green"></i>
                    </a>
                    {% endif %}

                    <a class="btn btn-circle btn-icon-only btn-default" id="disable_category">
                        <i class="glyphicon glyphicon-ban-circle" style="color:red"></i>
                    </a> 
                </td>
            </tr>
            {% set index=index+1 %}
            {% endfor %}					